{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Bookstore | Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="user-info vh-100">
        <h3 class="h3 text-center mt-3">User Info</h3>
        <div class="row g-4">
            <div class="col-md-6 border">
                <h4 class="h4 text-center">Avatar</h4>
            </div>
            <div class="col-md-6 border">
                <h4 class="h4 text-center">{{ user.username }} info</h4>
                <ul>
                    <li>
                        <span>First Name</span>
                        <span>{{ user.first_name }}</span>
                    </li>
                    <li>
                        <span>Last Name</span>
                        <span>{{ user.last_name }}</span>
                    </li>
                    <li>Email</li>
                    <li>Birth Date</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="user-info vh-100">
        <h3 class="h3 text-center">User Address</h3>
    </div>
    <hr>
</div>
{% endblock %}