{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Bookstore | Profile
{% endblock %}

{% block content %}
<div class="container h-auto">
    <div class="d-flex flex-column align-items-center my-5">
        <h3 class="h3">User Profile</h3>

        <!-- Avatar -->
        <div class="avatar d-flex flex-column align-items-center">
            Avatar here
            <button class="btn btn-primary">Change</button>
        </div>

        <!-- User Data -->
        <div class="user-data d-flex flex-column align-items-center my-4 rounded">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">
                    <span class="text-start fw-bolder">Username</span>
                    <span class="text-end">{{ user.username }}</span>
                </li>
                <li class="list-group-item list-group-item-dark">
                    <span class="text-start fw-bolder">FirstName</span>
                    <span class="text-end">{{ user.first_name }}</span>
                </li>
                <li class="list-group-item list-group-item-dark">
                    <span class="text-start fw-bolder">Last Name</span>
                    <span class="text-end">{{ user.last_name }}</span>
                </li>


            </ul>

            <button class="btn btn-primary">Edit</button>
        </div>

        <!-- PAssword Settings -->
        <div class="password d-flex flex-column align-items-center">
            password here
            <div class="buttons">
                <button class="btn btn-danger">Change</button>
                <button class="btn btn-danger">reset</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}