{% extends 'base/base.html' %}

{% block title %}
BookStore | Account COnfirmation
{% endblock %}

{% block content %}
<main class="form-signin vh-100 m-auto mt-4 justify-content-center">
    <div class="form-group shadow-lg rounded p-3 mt-5">
        <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <hr>
            <p class="mb-3 fw-normal text-center">
                Thank you for signing up for our website!
            </p>
            <p class="mb-3 fw-normal text-center">
                Please click on the link below to confirm your email address:
            </p>
            <button class="btn btn-primary w-100" type="submit">Activate</button>
            <hr>
        </form>
    </div>
</main>
{% endblock %}