{% extends 'base/base.html' %}

{% block title %}
BookStore | Login
{% endblock %}

{% block content %}
<main class="form-signin vh-100 m-auto mt-4 justify-content-center">
    <div class="form-group shadow-lg rounded mt-5">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
            <p class="mt-3 text-center">
                <small class="text-light">Don't have account?
                    <a href="{% url 'account_signup' %}" class="text-light">Register here</a>
                </small>
            </p>
        </form>
    </div>
</main>
{% include 'base/footer.html' %}
{% endblock %}