<div class="container d-flex flex-wrap align-items-center mt-4">
    <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white active"
                aria-current="page">Bookstore</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">Shop</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">Contact</a></li>
        <li class="nav-item">
            <form class="nav-item ms-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 text-white">Sign up</a></li>
    </ul>
</div>
<div class="container">
    <hr>
</div>