{% load bootstrap_icons %}

<header style="background-color: black;">
    <div class="container pt-3 pb-3 border-bottom border-secondary">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none me-2" style="color: gold;">
                {% bs_icon 'shop-window' size='2.5em'%}
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'core:homepage' %}"
                        class="nav-link px-2 {% if section == 'homepage' %}text-secondary{%else%}text-white{% endif %}">BookStore</a>
                </li>
                <li><a href="#" class="nav-link px-2 text-white">Shop</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="{% url 'core:about' %}"
                        class="nav-link px-2 {% if section == 'about' %}text-secondary{%else%}text-white{% endif %}">About
                        Us</a></li>
                <li><a href="{% url 'core:contact' %}"
                        class="nav-link px-2 {% if section == 'contact' %}text-secondary{%else%}text-white{% endif %}">Contact</a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <div class="d-flex">
                    <input type="search" class="form-control form-control-dark text-bg-dark custom-placeholder"
                        placeholder="Search..." aria-label="Search">
                    <button type="button" class="btn btn-warning btn-sm  ms-1">
                        {% bs_icon 'search' size='1em' %}
                    </button>
                </div>
            </form>

            <div class="text-end ms-5">
                {% if user.is_authenticated %}
                <div class="nav d-flex">
                    <div class="d-flex align-items-center justify-content-center me-4">
                        <a href="#" class="d-block link-light text-decoration-none">
                            {% bs_icon 'cart' size='2em' %}
                        </a>
                    </div>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-light text-decoration-none" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% bs_icon 'person-circle' size='2em' %}
                        </a>
                        <ul class="dropdown-menu text-small bg-dark">
                            <li>
                                <p class="dropdown-item text-white">{{ user.username }}</p>
                            </li>
                            <li>
                                <hr class="dropdown-divider bg-secondary">
                            </li>
                            <li><a class="dropdown-item text-white" href="#">Profile</a></li>
                            <li><a class="dropdown-item text-white" href="#">My Library</a></li>
                            <li>
                                <hr class="dropdown-divider bg-secondary">
                            </li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item text-white">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-warning">Sign-in</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>