{% load bootstrap_icons %}

<header style="background-color: black;">
    <div class="container pt-3 pb-3 border-bottom border-secondary">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none me-2" style="color: gold;">
                {% bs_icon 'shop-window' size='2.5em'%}
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'core:homepage' %}"
                        class="nav-link px-2 {% if section == 'homepage' %}text-secondary{%else%}text-white{% endif %}">BookStore</a>
                </li>
                <li><a href="#" class="nav-link px-2 text-white">Shop</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="{% url 'core:about' %}"
                        class="nav-link px-2 {% if section == 'about' %}text-secondary{%else%}text-white{% endif %}">About
                        Us</a></li>
                <li><a href="{% url 'core:contact' %}"
                        class="nav-link px-2 {% if section == 'contact' %}text-secondary{%else%}text-white{% endif %}">Contact</a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark custom-placeholder"
                    placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-warning">Sign-in</button>
            </div>
        </div>
    </div>
</header>