{% extends 'base/base.html' %}
{% load bootstrap_icons %}

{% block title %}
Bookstore | Contact
{% endblock %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center position-relative" style="height: 100px;">
    <!-- <div id="msg" class=" position-relative w-50 h-50 alert alert-success fade-in text-center d-flex align-items-center
        justify-content-center" role="alert">
        <i style="color: rgb(12, 209, 38)"">{% bs_icon 'check-circle-fill' size='1.5em' %}</i>
        <p class=" mb-0 pb-0 ms-2">Message has been sent!</p>
            <p class="position-absolute top-50 end-0 translate-middle-y">
                <button class="btn btn-xs btn-success-outline" onclick="closeAlert()">x</button>
            </p>
    </div> -->
</div>
<div class=" container mb-5 pb-5">
    <div class="d-flex justify-content-between">
        <div class="col-5">
            <div class="row">
                <div>
                    <div class="contact-info d-flex justify-content-between">
                        <div class="address">
                            <h3>Our Location</h3>
                            <ul class="mb-4 list-unstyled">
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'house-door-fill' size='1em'%}</i>
                                    123 Bookstore Street
                                </li>
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'house-door-fill' size='1em'%}
                                    </i>
                                    Bookville
                                </li>
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'house-door-fill' size='1em'%}</i>
                                    Booklandia 56789
                                </li>
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'house-door-fill' size='1em'%}</i>
                                    Fiction World
                                </li>
                            </ul>
                        </div>
                        <div class="contact-info">
                            <h3>Contact Info</h3>
                            <ul class="mb-4 list-unstyled">
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'telephone-fill' size='1em'%}</i>
                                    +123-456-7890
                                </li>
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'telephone-fill' size='1em'%}</i>
                                    +987-654-3210
                                </li>
                                <li>
                                    <i style="color: rgb(73, 76, 255)">
                                        {% bs_icon 'envelope-fill' size='1em'%}</i>
                                    info@bookstore.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.5303553091994!2d-0.14076024298621118!3d51.51210217963597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d502268421%3A0x6a7d62889992f993!2sRegent+St%2C+Soho%2C+London+W1B+5TH%2C+UK!5e0!3m2!1sen!2sro!4v1476174541049"
                            allowfullscreen="">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 ms-5 bg-tertiary text-center">
            <div class="address text-center">
                <h3 class="text-center mb-3">Send Message</h3>
            </div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text"
                            class="form-control form-control-dark text-bg-dark custom-placeholder form-control-lg"
                            name="name" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="email"
                            class="form-control form-control-dark text-bg-dark custom-placeholder form-control-lg"
                            name="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control form-control-dark text-bg-dark custom-placeholder form-control-lg"
                            name="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary text-white mt-3">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}