{% extends 'base/base.html' %}

{% block title %}
Bookstore
{% endblock %}

{% block content %}
<section id="hero" class="mb-5 mt-5 ">
    <div class="container vh-100 border-bottom">
        SECTION HERO
    </div>
</section>

<section id="features" class="mb-5 ">
    <div class="container vh-100 border-bottom">
        SECTION FEATURES
    </div>
</section>

<section id="offers" class="mb-5">
    <div class="container vh-100 border-bottom">
        SECTION BESTSELLERS | SECTION PROMOTIONS | SECTION LATEST
    </div>
</section>

<section id="testimonials" class="mb-5">
    <div class="container vh-100 border-bottom">
        SECTION TESTIMONIALS
    </div>
</section>

<section id="blog-latest" class="mb-5">
    <div class="container vh-100">
        SECTION BLOG LATEST
    </div>
</section>
{% endblock %}