{% extends 'base/base.html' %}

{% block title %}
Bookstore
{% endblock %}

{% block content %}
<section id="hero">
    <div class="container">
        SECTION HERO
    </div>
</section>

<section id="features">
    <div class="container">
        SECTION FEATURES
    </div>
</section>

<section id="bestsellers">
    <div class="container">
        SECTION BESTSELLERS
    </div>
</section>

<section id="promotions">
    <div class="container">
        SECTIONS PROMOTIONS
    </div>
</section>

<section id="testimonials">
    <div class="container">
        SECTION TESTIMONIALS
    </div>
</section>

<section id="blog-latest">
    <div class="container">
        SECTION BLOG LATEST
    </div>
</section>
{% endblock %}