@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,200&family=Poppins:ital,wght@0,300;1,100;1,200&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.custom-placeholder::placeholder {
    color: silver;
  }

.feature-img {
    width: 75px;
    margin-bottom: 10px;
}

.book-cover {
    height: 300px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 100%;
    border: none;
  }